.search {
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -200vh;
    backface-visibility: hidden;
    z-index: 20;
    background: #F9F9F9;
    position: fixed;
}

.search__is-visible {
    right: 0;
}

.search__header {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.search__back {
    width: 25px;
    height: 25px;
    font-size: 2.5rem;
}


.search__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
}

.search__content {
    width: 100%;
    padding-bottom: 5rem;
}

.search__form {
    background: #f6f6f6;
    box-shadow: 0 0.2rem 2rem 0 rgba(0,0,0,.1);
    color: #fff;
    display: inline-block;
    padding: 1rem 1.6rem;
    width: 100%;
}

.search__input {
    background: #fff;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.2);
    color: #212529;
    font-size: 1.4rem;
    font-weight: 600;
    height: auto;
    outline: none;
    padding: 1rem;
    width: 100%;
  }

.drawer__content {
    height: 100vh;
    overflow-y: auto;
}
