.search {
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -200vh;
    backface-visibility: hidden;
    z-index: 20;
    background: #F9F9F9;
    position: fixed;
    transform: translate3d(100%,0,0);
    transition: transform .3s ease-in-out;
}

.search__is-visible {
    right: 0;
    transform: translateZ(0);
    box-shadow: 0 20px 40px rgba(0,0,0,.3),0 15px 12px rgba(0,0,0,.22);
}

.search__header {
    width: 100%;
    height: 60px;
    background-color: #000;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.search__back {
    width: 25px;
    height: 25px;
    font-size: 2rem;
    color: #fff;
}


.search__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
    color: #fff;
}

.search__content {
    width: 100%;
    padding-bottom: 1rem;
}

.search__form {
    background: #f6f6f6;
    box-shadow: 0 0.2rem 2rem 0 rgba(0,0,0,.1);
    color: #fff;
    display: inline-block;
    padding: 1rem 1.6rem;
    width: 100%;
}

.search__input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    color: #212529;
    font-size: 1.4rem;
    font-weight: 600;
    height: auto;
    outline: none;
    padding: 1rem;
    width: 100%;
}

.drawer__content {
    height: 100vh;
    overflow-y: auto;
}

.content__empty {
    font-size: 8rem;
    position: absolute;
    top: 50%;
    display: flex;
    left: 0%;
    justify-content: space-around;
    width: 100%;
}

@media all and (max-width: 568px) {
    .search, .search__header, .drawer__content {
      width: 100%;
    }

}