@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
  background-color: #F8F9FB;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}


.filters {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  padding: 24px 0;
}

.filters__search {
  background: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .07);
  display: flex;
  flex-wrap: nowrap;
  height: 40px;
  justify-content: stretch;
  margin-right: 8px;
  overflow: hidden;
  width: 100%;
}

.app__is-visible {
  overflow-y: hidden;
  transition: opacity 225ms;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.app__is-visible::before {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  background: radial-gradient(ellipse at center,#7a7a7a 0,#000 100%);
  bottom: 0;
  content: "";
  height: 100vh;
  opacity: .75;
  pointer-events: all;
  position: fixed;
  right: 0;
  visibility: visible;
  width: 100vw;
  z-index: 15;
}

.filters__search__input {
  background: transparent;
  border: none;
  color: #4C84FF;
  font-size: 1.4rem;
  font-weight: bold;
  outline: none;
  padding: 5px 10px;
  width: 100%;
}

.filters__search__icon {
  background: transparent;
  font-size: 1.4rem;
  color: #9FA9BC;
}

.filters__search__icon:hover {
  color: #4C84FF;
}

::placeholder {
  color: #9FA9BC;
  font-weight: normal;
}

.filters__item {
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .07);
  color: #9FA9BC;
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.3rem;
  font-weight: normal;
  justify-content: center;
  margin: 0 8px;
  padding: 10px;
  white-space: nowrap;

  & i {
    color: #9FA9BC;
    margin-top: -5px;
    margin-left: 8px;
  }
}

.filters__item.is-selected {
  background-color: #4C84FF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;

  & i {
    color: #fff;
  }
}
